// Fixed navbar
nav.navbar.navbar-default.navbar-fixed-top
    .container
        #navbar.collapse.navbar-collapse
            ul.nav.navbar-nav
                li(class=title=='Home'?'active':undefined)
                    a(href='/') Home
                li(class=title=='About'?'active':undefined)
                    a(href='/about') About
                li(class=title=='Certificates'?'active':undefined)
                    a(href='/certificates') Certificates
                li(class=title=='Case Studies'?'active':undefined)
                    a(href='/casestudies') Case Studies
                li(class=title=='Contact'?'active':undefined)
                    a(href='/contact') Contact
        // /.nav-collapse

